{% extends "template.html" %}

{% block custom_styles %}
<style>
    .main-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .heading {
        margin-bottom: 30px;
        color: #2a2185; /* Cor do tema */
        text-align: center;
    }

    #search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #search {
        width: 50%; /* Aumenta o tamanho da barra de pesquisa */
        padding: 10px; /* Aumenta a altura da barra de pesquisa */
        font-size: 16px; /* Aumenta o tamanho da fonte */
        border-radius: 5px; /* Arredonda as bordas da barra de pesquisa */
        border: 1px solid #ddd; /* Adiciona uma borda sutil */
    }

    #publicacoesTable {
        width: 100%;
        border-collapse: collapse;
    }

    #publicacoesTable thead {
        background-color: #2a2185;
        color: #fff;
    }

    #publicacoesTable th, #publicacoesTable td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #publicacoesTable tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="main-container">
        <h2 class="heading">Publicações</h2>
        
        <!-- Campo de busca -->
        <div id="search-container">
            <input type="text" id="search" class="form-control" placeholder="Procurar publicação...">
        </div>

        <!-- Tabela de publicações -->
        <table id="publicacoesTable" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Nome do Curso</th>
                    <th>Autor</th>
                    <th>Nome do Orientador</th>
                    <th>Arquivo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in publicacoes %}
                <tr>
                    <td>{{ item.Id }}</td>
                    <td>{{ item.Titulo }}</td>
                    <td>{{ item.NomeDoCurso }}</td>
                    <td>{{ item.NomeAutorPrincipal }}</td>
                    <td>{{ item.NomeOrientador }}</td>
                    <td>
                        <a href="{{ item.LinkArquivo }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="44" height="44" fill="#FF0000">
                                <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var ajaxSearchUrl = "{% url 'ajax_search_publicacoes' %}";
    $('#search').on('keyup', function() {
        let query = $(this).val();
        if (query.length == 0 || query.length >= 3) {
            $.get(ajaxSearchUrl, { q: query }, function(data) {
                let tbody = $('#publicacoesTable tbody');
                tbody.empty();
                for (let i = 0; i < data.length; i++) {
                    let item = data[i];
                    tbody.append(`<tr class="table table-striped">
                        <td>${item.id}</td>  // Django usa minúsculas para nomes de campo
                        <td>${item.titulo}</td>
                        <td>${item.nome_do_curso}</td>
                        <td>${item.nome_autor_principal}</td>  // Ajuste de acordo com o seu modelo
                        <td>${item.nome_orientador}</td>
                        <td><a href="${item.link_arquivo}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="44" height="44" fill="#FF0000">
                                <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/>
                            </svg>
                        </a></td>
                      </tr>`);
                }
            });
        }
    });
</script>
{% endblock %}
