{% extends "template.html" %}

{% block custom_styles %}
<style>
    .main-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .heading {
        margin-bottom: 30px;
        color: #2a2185; /* Cor do tema */
        text-align: center;
    }

    #search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #search {
        width: 50%; /* Aumenta o tamanho da barra de pesquisa */
        padding: 10px; /* Aumenta a altura da barra de pesquisa */
        font-size: 16px; /* Aumenta o tamanho da fonte */
        border-radius: 5px; /* Arredonda as bordas da barra de pesquisa */
        border: 1px solid #ddd; /* Adiciona uma borda sutil */
    }

    #orientadoresTable {
        width: 100%;
        border-collapse: collapse;
    }

    #orientadoresTable thead {
        background-color: #2a2185;
        color: #fff;
    }

    #orientadoresTable th, #orientadoresTable td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #orientadoresTable tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="main-container">
        <h2 class="heading">Orientadores</h2>
        
        <!-- Campo de busca -->
        <div id="search-container">
            <input type="text" id="search" class="form-control" placeholder="Procurar orientador...">
        </div>

        <!-- Tabela de orientadores -->
        <table id="orientadoresTable" class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for orientador in orientadores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ orientador }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var ajaxSearchUrl = "{% url 'ajax_search' %}";
    $('#search').on('keyup', function() {
        let query = $(this).val();
        if (query.length == 0 || query.length >= 3) {
            $.get(ajaxSearchUrl, { q: query }, function(data) {
                let tbody = $('#orientadoresTable tbody');
                tbody.empty();
                for (let i = 0; i < data.length; i++) {
                    tbody.append(`<tr>
                                    <td>${i + 1}</td>
                                    <td>${data[i]}</td>
                                  </tr>`);
                }
            });
        }
    });
</script>
{% endblock %}